.container {
	visibility: hidden;
	position: fixed;
	z-index: $z-index-above;
	right: $spacing-8;
	bottom: 4.5rem;
	opacity: 0;
	transform: translateY(16px);
	transition:
		opacity $transition-base,
		visibility $transition-base,
		transform $transition-base;

	@include tablet {
		right: $spacing-6;
	}

	@include mobile {
		right: $spacing-4;
	}

	&.visible {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.icon {
	@include size(24px, 24px);

	@include mobile {
		@include size(20px, 20px);
	}
}
